body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-image: url(/storage/emulated/0/Pictures/IMG_20250318_082350.jpg);
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

h1 {
    margin: 0;
}

.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.place {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.place img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

h2 {
    margin-top: 10px;
    color: #333;
}

p {
    color: #555;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

